<template>
  <div class="about">
    <div class="row">
      <div class="col-md-12 landingPage">
        <router-link to="/dashboard" class="simple-text logo-normal">
         <img src="../assets/saka_logo.png" alt="" srcset="">
      </router-link>
      </div>
    </div>
  </div>
</template>

<style scoped>
.landingPage {
  padding: 50px 420px;
}
</style>
