<template>
    <div>
        asd
    </div>
</template>

<script>
export default {
    created() {
        this.loadSMS()
    },
    methods: {
        loadSMS() {
            axios.
        }
    }
}
</script>